NODE_ENV=development
PORT=3000

DB_HOST=127.0.0.1
# DB_HOST=localhost --- TODO: Teste das mal
DB_PORT=3306
DB_USER=blog_user
DB_PASSWORD=blog_password
DB_NAME=blogging_platform

MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=blogging_platform
MYSQL_USER=blog_user
MYSQL_PASSWORD=blog_password